*.DS_Store
Registry/data/*
OllamaLLM/ollama/models/*
*.ipynb_checkpoints
OllamaLLM/anythingllm/documents
OllamaLLM/anythingllm/lancedb
OllamaLLM/anythingllm/models
OllamaLLM/anythingllm/vector-cache
OllamaLLM/anythingllm/anythingllm.db
OllamaLLM/anythingllm/.env
Project4/*
vLLM/models
Whisper/lab_interview.m4a
Whisper/models/*
Whisper/*.wav